<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="transparency-questions">

<div class="faq">
      <h1 class="page-title">Eure Fragen, unsere Antworten:</h1>
  	  <p style="text-align:center;">Uns ist es sehr wichtig, vorallem kritische Fragen ehrlich zu beantworten. Aus diesem Grund findest du folgend eure häufigsten und kritischsten Fragen zu unserem Unternehmen.</p>
      <div id="tab-faq-1" class="faq-section open">
        <div class="faq-section--title-wrapper"><h2 class="faq-section--title">Die 5 kritischsten Fragen</h2>
        </div>
        <ul>
          <li>
            <div class="faq-section--item-title">
              Wo werden die Schuhe hergestellt?<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
              
              <p style="line-height: 1.65;">Für die Herstellung der Spritzgussformen und damit für die Serienfertigung haben wir uns für den Produktionsstandort China entschieden. Auch wenn wir aus dem Nachhaltigkeitsgedanken eine lokalere Produktion wünschenswert finden, müssen wir uns eingestehen, dass in China aktuell die höchste Kompetenz liegt, was die Produktion von Barfußschuhen betrifft. Dementsprechend lassen wir in China alle Schuhe unter höchsten Qualitätsstandards herstellen. Natürlich legen wir ein besonderes Augenmerk auf Arbeitssicherheit, faire Entlohnung und Arbeitsbedingungen.</p>
              
            </div>
          </li>
          <li>
            <div class="faq-section--item-title">
              Wie könnt ihr das vertreten?<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
              
              <p style="line-height: 1.65;">Wie bereits erwähnt, eignet sich China aufgrund des hohen technologischen Standards sehr gut für die Produktion von Barfußschuhen. Bei der Suche nach einem geeigneten Hersteller haben wir uns am aktuellen Markt und den Produktionsstätten der führenden Konkurrenz orientiert und festgestellt, dass die Mehrheit der Barfußschuhe auf dem deutschen Markt in China produziert wird. Nach einer Kalkulation aller Faktoren (Preis, Erfahrung, Arbeitsbedingungen) sind wir zu dem Entschluss gekommen, das im aktuellen Stadium China optimal als Produktionsstätte für unsere Barfußschuhe geeignet ist. Viele Gegenstände und Produkte aus unserem Alltag stammen bereits von Produktionsstandorten mit einem Sitz außerhalb der EU - egal ob Smartphone, Sneaker oder Kleidung. Wir versuchen daher in allen anderen Bereichen so umweltbewusst wie möglich zu handeln. Einige unserer Ideen findest du auf dieser Transparenz-Seite.</p>
              
            </div>
          </li>
          <li>
            <div class="faq-section--item-title">
              Woraus bestehen die Schuhe?<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
             	
              <p style="line-height: 1.65;">Unsere Barfußschuhe bestehen aus Kunstfasern (92% Polyester, 8% Spandex). Naturfasern erfüllen bisher noch nicht die Anforderungen, die wir an die Passform und sonstigen Trageeigenschaften stellen müssen. Wir forschen und entwickeln unermüdlich weiter und arbeiten an einer Lösung.</p>
              
            </div>
          </li>
          <li>
            <div class="faq-section--item-title">
              Sind die Schuhe vegan?<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
              
              <p style="line-height: 1.65;">Die Freiluftkind Schuhe sind im engeren Sinne nicht vegan, da ein Bestandteil des Sohlenmaterials auf tierischem Rohstoff basiert. Dabei handelt es sich nicht um direkte Tierbestandteile, sondern um Verarbeitungshilfen auf Basis von Fettsäuren, bei denen die Ausgangsstoffe tierischen Ursprungs sein können. Allerdings arbeiten wir stetig an der Optimierung unserer Produkte und der Materialzusammensetzung und sind bestrebt, Alternativen pflanzlichen Ursprungs für unsere Produkte einzusetzen.</p>
              
            </div>
          </li>
          <li>
            <div class="faq-section--item-title">
              Ihr pflanzt Bäume, war's das?<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
              
              <p style="line-height: 1.65;">Nein, natürlich pflanzen wir nicht nur Bäume. Trotzdem ist nicht zu vernachlässigen, dass wir durch unser Wald-Programm fast komplett klimaneutral agieren können. Außerdem versuchen wir auf verschiedenste Wege unser Unternehmen so umweltfreundlich wie möglich zu gestalten. Innerhalb unseres Büros arbeiten wir ausschließlich papierlos. Für unseren Versand nutzen wir DHL GoGreen, unsere Schuhe kommen in einem wiederverwendbaren Jutebeutel und auch unsere Website ist komplett C02-neutral (weitere Informationen weiter unten auf dieser Seite).</p>
              
            </div>
          </li>
        </ul>
      </div>
  
  <div class="btn-wrapper center">
            <a href="/a/faq" class="Button Button--primary">
                Weitere Fragen anzeigen 
            </a>
        </div>
  
    </div>

</section>




<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    jQuery('.faq-section > .faq-section--title-wrapper').click(function() {
      jQuery(this).parent().toggleClass('open');
    });

    jQuery('.faq-section--item-title').click(function() {
      jQuery(this).parent().toggleClass('open');
    });
  });
</script>





<style>
  
  .button-secondary-outline {border: 1px solid #242424; border-radius: 22222px; color: #000;}
  .button-secondary-outline, .button-secondary-outline-white {
    margin-top: 50px;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.3px;
    padding: 0.75rem 2.5rem;
    text-transform: none;
    transition: all .3s;
    white-space: nowrap;
        -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  
  .faq {
  margin-top: 40px;
  max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 0 24px;
}

.faq .page-title {
  text-align: center;
  margin-bottom: 25px;
      font-size: 22px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    color: var(--heading-color);
    transition: color 0.2s ease-in-out;
}

.faq-section--title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
  border-bottom: 1px solid #cdd5d9;
}

.faq-section--title-wrapper svg {
  width: 50px;
  fill: #00b388;
}

.faq-section--title {
  position: relative;
  width: 100%;
  padding-left: 0px;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  cursor: pointer;
}

.faq-section > ul {
  display: none;
}

.faq-section.open > ul {
  display: block;
  cursor: pointer;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: transform 0.4s;
}

.faq-section > ul li {
  position: relative;
  width: 100%;
}

.faq-section--item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #333;
  font-weight: 600;
  font-size: 14px;
}

.faq-section--item-title:hover {
  color: #00b388;
}

.faq-section--item-title svg {
  width: 20px;
  height: 15px;
}

.faq-section--item-desc {
  padding-bottom: 20px;
  line-height: 20px;
}

.faq-section--item-desc h3 {
  line-height: 30px;
}

.faq-section--item-desc table,
.faq-section--item-desc table td {
  border: 1px solid #adc6dd;
}

.faq-section > ul li .faq-section--item-desc {
  display: none;
}

.faq-section > ul > li.open .faq-section--item-title svg {
  transform: rotate(180deg);
  transition: transform 0.4s;
}

.faq-section > ul li.open .faq-section--item-desc {
  display: block;
}

.faq-section ul li + li {
  border-top: 1px solid #cdd5d9;
}

.faq-section ul {
  list-style: none;
}

.faq-section--item-desc.close {
  display: none;
}
</style>


{% schema %}
{
  "name": "SK - FAQ",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#efefef"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "subline",
      "label": "Subline",
      "default": "Subline"
    },
    {
      "type": "text",
      "id": "faqHeadline",
      "label": "faqHeadline",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage1",
      "label": "Frage 1",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort1",
      "label": "Antwort 1",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage2",
      "label": "Frage 2",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort2",
      "label": "Antwort 2",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage3",
      "label": "Frage 3",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort3",
      "label": "Antwort 3",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage4",
      "label": "Frage 4",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort4",
      "label": "Antwort 4",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage5",
      "label": "Frage 5",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort5",
      "label": "Antwort 5",
      "default": "Text"
    },


    {
      "type": "text",
      "id": "btntext",
      "label": "Button Text",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "btnlink",
      "label": "Button Link",
      "default": "\/pages\/contact"
    }
  ],
  "presets": [{
    "name": "SK - FAQ",
    "category": "Custom"
  }]
}
{% endschema %}
