<div class="review_showcase">
    
    <div class="review_showcase_stars" role="img"><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
        </svg><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
        </svg><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
        </svg><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
        </svg><svg fill="none" focusable="false" width="20" height="20" viewBox="0 0 14 13">
        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
        </svg>
    </div>

    <span class="review_text">
       "{{section.settings.testimonialText}}"
    </span>

    <div class="review_person">
        <img src="{{ section.settings.imagesupport | img_url: '150px' }}" alt="Kundensupport">
    </div>

    <span class="review_person_name">
        {{section.settings.testimonialName}}
    </span>


    <div class="review_verified_container">
        <!--?xml version="1.0" encoding="UTF-8"?--><svg width="24px" height="24px" stroke-width="1.5" style="vertical-align: middle;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M7 12.5l3 3 7-7" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>

        <span class="review_verified" style="vertical-align: middle;">
        Verifizierte Kundin
        </span>
    </div>
      
    </div>


      
  <style>
    #shopify-section-template--16176604217608__0777dd0c-2daf-4368-b65e-499772bb65f7 {
        background: {{ section.settings.background }};
    }
    .review_showcase {
       
        padding: 50px 0;
      }
   
      .review_showcase {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        background-color: #f4f4f4;
      }
    
      .review_showcase_stars {
        display: block;
        color: #fbbf0a;
      }
    
      .review_text {
        font-size: 18px;
        color: #1c1b1b;
      }
    
      .review_person_name {
        display: block;
        margin-top: 15px;
        font-size: 20px;
      }
      .review_person > img {
        width: 3.2em;
        height: 3.2em;
        line-height: 3.2em;
        text-align: center;
        border-radius: 50%;
        color: #333333;
        background-color: #e9e9e9;
        margin: 15px auto auto;
       
      }
  </style>

    {% schema %}
    {
      "name": "SK - Testimonials",
      "settings": [
        {
          "type": "color",
          "id": "background",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
            "type": "text",
            "id": "testimonialText",
            "label": "Testimonial Text",
            "default": "Ich bin begeistert!"
          },
        {
          "type": "image_picker",
          "id": "imagesupport",
          "label": "Bild",
          "info": "150 x 150px .jpg recommended"
        },
      
        {
          "type": "text",
          "id": "testimonialName",
          "label": "Name des Kunden",
          "default": "Andrea L."
        }
      ],
      "presets": [{
        "name": "SK - Testimonials",
        "category": "Custom"
      }]
    }
    {% endschema %}