/* CSS from SK */

/* Animations */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(39, 174, 96, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(39, 174, 96, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(39, 174, 96, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(39, 174, 96, 0.4);
    box-shadow: 0 0 0 0 rgba(39, 174, 96, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(39, 174, 96, 0);
    box-shadow: 0 0 0 10px rgba(39, 174, 96, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(39, 174, 96, 0);
    box-shadow: 0 0 0 0 rgba(39, 174, 96, 0);
  }
}
@-webkit-keyframes pulseRed {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(249, 76, 67, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(49, 76, 67, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(49, 76, 67, 0);
  }
}
@keyframes pulseRed {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(49, 76, 67, 0.4);
    box-shadow: 0 0 0 0 rgba(49, 76, 67, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(49, 76, 67, 0);
    box-shadow: 0 0 0 10px rgba(49, 76, 67, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(49, 76, 67, 0);
    box-shadow: 0 0 0 0 rgba(49, 76, 67, 0);
  }
}

/* Contact - Help */

.sk_help .Section__ContactImages {
  max-width: 500px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sk_help .FeatureText__ImageWrapper {
  background: #fafafa;
  box-shadow: 0 5px 15px #00000026;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 16px;
}

.sk_help .FeatureText__ContentWrapper {
  margin-bottom: 40px;
}

.sk_help .Contact__ImageTitle {
  margin-top: 5px;
}

/* Product Description */
@media screen and (min-width: 641px) {
  .ProductMeta__Description {
    margin-bottom: 65px;
  }
}
@media screen and (min-width: 1008px) {
  .ProductMeta__Description {
    margin-top: 50px;
    margin-left: 50px;
  }
}

/* SK_Payment_Methods */

ul.SK_Payment_Methods {
  list-style-position: inside;
  list-style-type: none;
}

.SK_Payment_Methods {
  margin: 0 -8px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.SK_Payment_Methods svg {
  width: 38px;
  height: auto;
}

/* SK_ShopProperties */

.SK_ProductForm__ShopProperties {
  display: flex;
  flex-wrap: wrap;
  margin: 4px -4px;
}
.SK_ProductForm__ShopProperty_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 4px;
}
.SK_ProductForm__ShopProperty {
  width: 50%;
  padding: 4px;
}
.SK_ProductForm__ShopProperty_Image {
  margin: 0px 10px;
}

.SK_ProductForm__ShopProperty_Text {
  color: #000;
  font-size: 10px;
  margin-bottom: 4px !important;
}

/* Product Available */
.ProductForm__Available {
  border: 1px solid #cfcfcf;
  width: 100%;
  text-align: center;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 5px;
  padding-top: 7.5px;
}

.ProductForm__Available span {
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  letter-spacing: 0.05em;
}

.ProductForm__Available span:before {
  margin-right: 12px;
  border-radius: 50%;
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  width: 8px;
  height: 8px;
}

.ProductForm__Available_pulse {
  background: #27ae60;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(39 174 96 / 40%);
  animation: pulse 2s infinite;
  vertical-align: middle;
  padding-left: 10px;
  margin-top: 0.5px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.ProductForm__NotAvailable_pulse {
  animation: pulseRed 2s infinite;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 0.5px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--product-sale-price-color);
  cursor: pointer;
  box-shadow: 0 0 0 rgb(249 76 67 / 40%);
}

.ProductForm__Available_pulse:hover,
.ProductForm__NotAvailable_pulse:hover {
  animation: none;
}

/* Discount */
.sk-discount {
  background-color: #29bb8b;
  color: #fff;
  font-size: 13px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 8px;
  border-radius: 2px;
}

.sk-discount:after {
  content: "";
  position: absolute;
  bottom: -38%;
  left: 20px;
  width: 0;
  height: 0;
  transform: rotate(180deg);
  border-color: transparent transparent #29bb8b;
  border-style: solid;
  border-width: 0 8.5px 11px;
}

/* SHOP Properties */
.shopProperties__Wrapper {
  max-width: 1364px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1041px) {
  .shopProperties__Wrapper {
    height: 90px;
  }
}

.shopProperties__Wrapper--product {
  flex-wrap: wrap;
}

.shopProperty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 14px 0;
  width: 50%;
  height: 48px;
}

.shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
  .shopProperty:nth-of-type(3),
.shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
  .shopProperty:last-of-type {
  display: none;
}

@media screen and (min-width: 641px) {
  .shopProperty:nth-of-type(3),
  .shopProperty:last-of-type {
    display: flex;
  }
}

.shopProperty svg,
.shopProperty img {
  margin-right: 14px !important;
  display: block;
  height: 40px;
  width: 40px;
  max-width: 20px;
}

.shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
  .shopProperty:nth-of-type(odd) {
  margin-right: 20px;
}

.shopProperty span {
  max-width: 220px;
}

.shopProperty p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 28px;
  text-align: left;
  margin: 0;
}

.shopProperties__Wrapper .shopProperty h4.Headline {
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: 420px) {
  .shopProperty svg {
    max-width: 32px;
  }
}

@media screen and (min-width: 1041px) {
  .shopProperties__Wrapper .shopProperty h4.Headline {
    font-size: 14px;
    letter-spacing: 2.4px;
    line-height: 26px;
  }

  .shopProperties__Wrapper {
    flex-wrap: nowrap;
  }

  .shopProperties__Wrapper svg {
    margin-right: 32px;
    max-width: 100%;
  }

  .shopProperty {
    margin: 0 20px;
    width: auto;
  }

  .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
    .shopProperty:nth-of-type(3),
  .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
    .shopProperty:last-of-type {
    display: flex;
  }

  .shopProperty:first-of-type {
    margin-left: 0;
  }

  .shopProperty:last-of-type {
    margin-right: 0;
  }
}
